<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/github-markdown-css/4.0.0/github-markdown.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release/build/styles/default.min.css">
    <link rel="stylesheet" href="file:///c:\Users\jaeju\.vscode\extensions\goessner.mdmath-2.7.4\themes\default\style.css">

</head>
<body class="markdown-body">
<h1 id="2434kr"><a href="http://2434.kr">2434.kr</a></h1>
<p>이 사이트는 니지산지(NIJISANJI KR) 소속 버츄얼 유튜버들의 채널에 쉽게 접근할 수 있도록 돕기 위한 shortcut link를 제공합니다. <br/>
    このサイトはにじさんじKR所属のVtuberさんたちのチャンネルに楽につなげるURLを提供しています。 <br/>
    <br/></p>
<p>이 사이트는 니지산지에서 운영하지 않습니다. <br/>
    ファンメイドで、にじさんじKRの運営とは関係ありません。  <br/>
    This website is unofficial. <br/></p>
<h2 id="ec82acec9aa9-ebb0a9ebb295how-to-usee4bdbfe38184e696b9">사용 방법(How to use)(使い方)</h2>
<h3 id="url-eab5aceca1b0url-structureurle6a78be980a0">URL 구조(URL Structure)(URL構造）</h3>
<pre><code><code><div>[http://2434.kr/](http://2434.kr/{버츄얼)[Name]/[Service]
</div></code></code></pre>
<h4 id="name">[Name]</h4>
<p>니지산지 소속 라이버의 이름을 영문자로 입력(대소문자 구분 X)  <br/>
    にじさんじKR所属ライバーの名前をロマ字で入力（大文字や小文字どっちでもいい）  <br/>
    Input the name of NIJISANJI KR streamer (case insensitive)  <br/></p>
<h4 id="service">[Service]</h4>
<table>
    <thead>
    <tr>
        <th>Full</th>
        <th>Short 1</th>
        <th>Short 2</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>Youtube</td>
        <td>(empty)  <br/>  (공란)  <br/>  (空欄）</td>
        <td>yt</td>
    </tr>
    <tr>
        <td>Twitter</td>
        <td>twt</td>
        <td></td>
    </tr>
    <tr>
        <td>Twitch</td>
        <td>t</td>
        <td></td>
    </tr>
    </tbody>
</table>
<h2 id="examples">Examples</h2>
<h4 id="name">[Name]</h4>
<p>The URL is case-insensitive.</p>
<table>
    <thead>
    <tr>
        <th>name</th>
        <th>usable name</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>류하리(Ryu Hari)</td>
        <td>hari, Hari, hAri, ...</td>
    </tr>
    <tr>
        <td>소나기(So Nagi)</td>
        <td>nagi, Nagi, naGi, ...</td>
    </tr>
    <tr>
        <td>반하다(Ban Hada)</td>
        <td>hada, haDA</td>
    </tr>
    <tr>
        <td>세피나(Seffyna)</td>
        <td>seffyna, ffyna, fina, pina, fyna</td>
    </tr>
    </tbody>
</table>
<h4 id="full-url-examples">[Full URL examples]</h4>
<table>
    <thead>
    <tr>
        <th>이름</th>
        <th>Youtube</th>
        <th>Twitter</th>
        <th>Twitch</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>민수하  <br/>  Min Suha  <br/>  みん すぅーは  <br/></td>
        <td><a href="http://2434.kr/suha">http://2434.kr/suha</a>  <br/>  <a href="http://2434.kr/suha/yt">http://2434.kr/suha/yt</a>  <br/>  <a href="http://2434.kr/suha/youtube">http://2434.kr/suha/youtube</a></td>
        <td><a href="http://2434.kr/suha/twt">http://2434.kr/suha/twt</a>  <br/>  <a href="http://2434.kr/suha/twitter">http://2434.kr/suha/twitter</a></td>
        <td><a href="http://2434.kr/suha/t">http://2434.kr/suha/t</a>  <br/>  <a href="http://2434.kr/suha/twitch">http://2434.kr/suha/twitch</a></td>
    </tr>
    <tr>
        <td>한치호  <br/>  Han Chiho  <br/>  はん ちほ</td>
        <td><a href="http://2434.kr/chiho">http://2434.kr/chiho</a>  <br/>  <a href="http://2434.kr/chiho/yt">http://2434.kr/chiho/yt</a>  <br/>  <a href="http://2434.kr/chiho/youtube">http://2434.kr/chiho/youtube</a></td>
        <td><a href="http://2434.kr/chiho/twt">http://2434.kr/chiho/twt</a>  <br/>  <a href="http://2434.kr/chiho/twitter">http://2434.kr/chiho/twitter</a></td>
        <td><a href="http://2434.kr/chiho/t">http://2434.kr/chiho/t</a>  <br/>  <a href="http://2434.kr/chiho/twitch">http://2434.kr/chiho/twitch</a></td>
    </tr>
    <tr>
        <td>채아라  <br/>  Chae Ara  <br/>  ちぇ あら</td>
        <td><a href="http://2434.kr/ara">http://2434.kr/ara</a>  <br/>  <a href="http://2434.kr/ara/yt">http://2434.kr/ara/yt</a>  <br/>  <a href="http://2434.kr/ara/youtube">http://2434.kr/ara/youtube</a></td>
        <td><a href="http://2434.kr/ara/twt">http://2434.kr/ara/twt</a>  <br/>  <a href="http://2434.kr/ara/twitter">http://2434.kr/ara/twitter</a></td>
        <td><a href="http://2434.kr/ara/t">http://2434.kr/ara/t</a>  <br/>  <a href="http://2434.kr/ara/twitch">http://2434.kr/ara/twitch</a></td>
    </tr>
    <tr>
        <td>소나기  <br/>  So Nagi  <br/>  そ なぎ</td>
        <td><a href="http://2434.kr/nagi">http://2434.kr/nagi</a>  <br/>  <a href="http://2434.kr/nagi/yt">http://2434.kr/nagi/yt</a>  <br/>  <a href="http://2434.kr/nagi/youtube">http://2434.kr/nagi/youtube</a></td>
        <td><a href="http://2434.kr/nagi/twt">http://2434.kr/nagi/twt</a>  <br/>  <a href="http://2434.kr/nagi/twitter">http://2434.kr/nagi/twitter</a></td>
        <td><a href="http://2434.kr/nagi/t">http://2434.kr/nagi/t</a>  <br/>  <a href="http://2434.kr/nagi/twitch">http://2434.kr/nagi/twitch</a></td>
    </tr>
    <tr>
        <td>이시우  <br/>  Lee Siu  <br/>  い しう</td>
        <td><a href="http://2434.kr/siu">http://2434.kr/siu</a>  <br/>  <a href="http://2434.kr/siu/yt">http://2434.kr/siu/yt</a>  <br/>  <a href="http://2434.kr/siu/youtube">http://2434.kr/siu/youtube</a></td>
        <td><a href="http://2434.kr/siu/twt">http://2434.kr/siu/twt</a>  <br/>  <a href="http://2434.kr/siu/twitter">http://2434.kr/siu/twitter</a></td>
        <td><a href="http://2434.kr/siu/t">http://2434.kr/siu/t</a>  <br/>  <a href="http://2434.kr/siu/twitch">http://2434.kr/siu/twitch</a></td>
    </tr>
    <tr>
        <td>눈보라  <br/>  Nun Bora  <br/>  ぬん ぼら</td>
        <td><a href="http://2434.kr/bora">http://2434.kr/bora</a>  <br/>  <a href="http://2434.kr/bora/yt">http://2434.kr/bora/yt</a>  <br/>  <a href="http://2434.kr/bora/youtube">http://2434.kr/bora/youtube</a></td>
        <td><a href="http://2434.kr/bora/twt">http://2434.kr/bora/twt</a>  <br/>  <a href="http://2434.kr/bora/twitter">http://2434.kr/bora/twitter</a></td>
        <td><a href="http://2434.kr/bora/t">http://2434.kr/bora/t</a>  <br/>  <a href="http://2434.kr/bora/twitch">http://2434.kr/bora/twitch</a></td>
    </tr>
    <tr>
        <td>이로하  <br/>  Lee Roha  <br/>  い ろは</td>
        <td><a href="http://2434.kr/roha">http://2434.kr/roha</a>  <br/>  <a href="http://2434.kr/roha/yt">http://2434.kr/roha/yt</a>  <br/>  <a href="http://2434.kr/roha/youtube">http://2434.kr/roha/youtube</a></td>
        <td><a href="http://2434.kr/roha/twt">http://2434.kr/roha/twt</a>  <br/>  <a href="http://2434.kr/roha/twitter">http://2434.kr/roha/twitter</a></td>
        <td><a href="http://2434.kr/roha/t">http://2434.kr/roha/t</a>  <br/>  <a href="http://2434.kr/roha/twitch">http://2434.kr/roha/twitch</a></td>
    </tr>
    <tr>
        <td>아키라 레이  <br/>  Akira Ray  <br/>  明楽レイ</td>
        <td><a href="http://2434.kr/ray">http://2434.kr/ray</a>  <br/>  <a href="http://2434.kr/ray/yt">http://2434.kr/ray/yt</a>  <br/>  <a href="http://2434.kr/ray/youtube">http://2434.kr/ray/youtube</a></td>
        <td><a href="http://2434.kr/ray/twt">http://2434.kr/ray/twt</a>  <br/>  <a href="http://2434.kr/ray/twitter">http://2434.kr/ray/twitter</a></td>
        <td><a href="http://2434.kr/ray/t">http://2434.kr/ray/t</a>  <br/>  <a href="http://2434.kr/ray/twitch">http://2434.kr/ray/twitch</a></td>
    </tr>
    <tr>
        <td>양나리  <br/>  やん なり</td>
        <td><a href="http://2434.kr/nari">http://2434.kr/nari</a>  <br/>  <a href="http://2434.kr/nari/yt">http://2434.kr/nari/yt</a>  <br/>  <a href="http://2434.kr/nari/youtube">http://2434.kr/nari/youtube</a></td>
        <td><a href="http://2434.kr/nari/twt">http://2434.kr/nari/twt</a>  <br/>  <a href="http://2434.kr/nari/twitter">http://2434.kr/nari/twitter</a></td>
        <td><a href="http://2434.kr/nari/t">http://2434.kr/nari/t</a>  <br/>  <a href="http://2434.kr/nari/twitch">http://2434.kr/nari/twitch</a></td>
    </tr>
    <tr>
        <td>류하리  <br/>  りゅ はり</td>
        <td><a href="http://2434.kr/hari">http://2434.kr/hari</a>  <br/>  <a href="http://2434.kr/hari/yt">http://2434.kr/hari/yt</a>  <br/>  <a href="http://2434.kr/hari/youtube">http://2434.kr/hari/youtube</a></td>
        <td><a href="http://2434.kr/hari/twt">http://2434.kr/hari/twt</a>  <br/>  <a href="http://2434.kr/hari/twitter">http://2434.kr/hari/twitter</a></td>
        <td><a href="http://2434.kr/hari/t">http://2434.kr/hari/t</a>  <br/>  <a href="http://2434.kr/hari/twitch">http://2434.kr/hari/twitch</a></td>
    </tr>
    <tr>
        <td>신기루  <br/>  しん ぎる</td>
        <td><a href="http://24b34.kr/kiru">http://2434.kr/kiru</a>  <br/>  <a href="http://2434.kr/kiru/yt">http://2434.kr/kiru/yt</a>  <br/>  <a href="http://2434.kr/kiru/youtube">http://2434.kr/kiru/youtube</a></td>
        <td><a href="http://2434.kr/kiru/twt">http://2434.kr/kiru/twt</a>  <br/>  <a href="http://2434.kr/kiru/twitter">http://2434.kr/kiru/twitter</a></td>
        <td><a href="http://2434.kr/kiru/t">http://2434.kr/kiru/t</a>  <br/>  <a href="http://2434.kr/kiru/twitch">http://2434.kr/kiru/twitch</a></td>
    </tr>
    <tr>
        <td>오지유  <br/>  お じゆ</td>
        <td><a href="http://2434.kr/jiyu">http://2434.kr/jiyu</a>  <br/>  <a href="http://2434.kr/jiyu/yt">http://2434.kr/jiyu/yt</a>  <br/>  <a href="http://2434.kr/jiyu/youtube">http://2434.kr/jiyu/youtube</a></td>
        <td><a href="http://2434.kr/jiyu/twt">http://2434.kr/jiyu/twt</a>  <br/>  <a href="http://2434.kr/jiyu/twitter">http://2434.kr/jiyu/twitter</a></td>
        <td><a href="http://2434.kr/jiyu/t">http://2434.kr/jiyu/t</a>  <br/>  <a href="http://2434.kr/jiyu/twitch">http://2434.kr/jiyu/twitch</a></td>
    </tr>
    <tr>
        <td>반하다  <br/>  ばん はだ</td>
        <td><a href="http://2434.kr/hada">http://2434.kr/hada</a>  <br/>  <a href="http://2434.kr/hada/yt">http://2434.kr/hada/yt</a>  <br/>  <a href="http://2434.kr/hada/youtube">http://2434.kr/hada/youtube</a></td>
        <td><a href="http://2434.kr/hada/twt">http://2434.kr/hada/twt</a>  <br/>  <a href="http://2434.kr/hada/twitter">http://2434.kr/hada/twitter</a></td>
        <td><a href="http://2434.kr/hada/t">http://2434.kr/hada/t</a>  <br/>  <a href="http://2434.kr/hada/twitch">http://2434.kr/hada/twitch</a></td>
    </tr>
    <tr>
        <td>세피나  <br/>  せふぃな</td>
        <td><a href="http://2434.kr/seffyna">http://2434.kr/seffyna</a>  <br/>  <a href="http://2434.kr/seffyna/yt">http://2434.kr/seffyna/yt</a>  <br/>  <a href="http://2434.kr/seffyna/youtube">http://2434.kr/seffyna/youtube</a></td>
        <td><a href="http://2434.kr/seffyna/twt">http://2434.kr/seffyna/twt</a>  <br/>  <a href="http://2434.kr/seffyna/twitter">http://2434.kr/seffyna/twitter</a></td>
        <td><a href="http://2434.kr/seffyna/t">http://2434.kr/seffyna/t</a>  <br/>  <a href="http://2434.kr/seffyna/twitch">http://2434.kr/seffyna/twitch</a></td>
    </tr>
    <tr>
        <td>송미아  <br/>  そん みあ</td>
        <td><a href="http://2434.kr/mia">http://2434.kr/mia</a>  <br/>  <a href="http://2434.kr/mia/yt">http://2434.kr/mia/yt</a>  <br/>  <a href="http://2434.kr/mia/youtube">http://2434.kr/mia/youtube</a></td>
        <td><a href="http://2434.kr/mia/twt">http://2434.kr/mia/twt</a>  <br/>  <a href="http://2434.kr/mia/twitter">http://2434.kr/mia/twitter</a></td>
        <td><a href="http://2434.kr/mia/t">http://2434.kr/mia/t</a>  <br/>  <a href="http://2434.kr/mia/twitch">http://2434.kr/mia/twitch</a></td>
    </tr>
    </tbody>
</table>
<h1 id="disclaimer">Disclaimer</h1>
<p>이 사이트는 비공식입니다. NIJISANJI는 Anycolor Inc.의 등록상표입니다.  <br/>
    This website is unofficial. NIJISANJI is a trademark of Anycolor Inc.  <br/>
    ファンメイドで、にじさんじKRの運営とは関係ありません。NIJISANJIはAnycolor Inc.の登録商標です。 <br/></p>

</body>
</html>