<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/github-markdown-css/4.0.0/github-markdown.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release/build/styles/default.min.css">
</head>
<body class="markdown-body">
<h1 id="2434kr">2434.kr</h1>
<p>이 사이트는 니지산지(NIJISANJI KR) 소속 버츄얼 유튜버들의 채널에 쉽게 접근할 수 있도록 돕기 위한 shortcut link를 제공합니다.</p>
<p>このサイトはにじさんじKR所属のVtuberさんたちのチャンネルに楽につなげるURLを提供しています。</p>
<br>
<p>이 사이트는 니지산지에서 운영하지 않습니다.</p>
<p>ファンメイドで、にじさんじKRの運営とは関係ありません。</p>
<p>This website is unofficial.</p>
<h2 id="사용-방법how-to-use使い方">사용 방법(How to use)(使い方)</h2>
<h3 id="url-구조url-structureurl構造">URL 구조(URL Structure)(URL構造）</h3>
<pre><code><code><div>https://2434.kr/[Name]/[Service]
</div></code></code></pre>
<h4 id="name">[Name]</h4>
<p>니지산지 소속 라이버의 이름을 영문자로 입력(대소문자 구분 X)
    にじさんじKR所属ライバーの名前をロマ字で入力（大文字や小文字どっちでもいい）
    Input the name of NIJISANJI KR streamer (case insensitive)</p>
<h4 id="service">[Service]</h4>
<table>
    <thead>
    <tr>
        <th>Full</th>
        <th>Short 1</th>
        <th>Short 2</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>Youtube</td>
        <td>(empty)<br>(공란)<br>(空欄）</td>
        <td>yt</td>
    </tr>
    <tr>
        <td>Twitter</td>
        <td>twt</td>
        <td></td>
    </tr>
    <tr>
        <td>Twitch</td>
        <td>t</td>
        <td></td>
    </tr>
    </tbody>
</table>
<h2 id="examples">Examples</h2>
<h4 id="name">[Name]</h4>
<p>The URL is case-insensitive.</p>
<table>
    <thead>
    <tr>
        <th>name</th>
        <th>usable name</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>류하리(Ryu Hari)</td>
        <td>hari, Hari, hAri, ...</td>
    </tr>
    <tr>
        <td>소나기(So Nagi)</td>
        <td>nagi, Nagi, naGi, ...</td>
    </tr>
    <tr>
        <td>반하다(Ban Hada)</td>
        <td>hada, haDA</td>
    </tr>
    <tr>
        <td>세피나(Seffyna)</td>
        <td>seffyna, ffyna, fina, pina, fyna</td>
    </tr>
    </tbody>
</table>
<h4 id="full-url-examples">[Full URL examples]</h4>
<table>
    <thead>
    <tr>
        <th>이름</th>
        <th>Youtube</th>
        <th>Twitter</th>
        <th>Twitch</th>
        <th>Twitcasting.tv</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>가온<br>Gaon<br>がおん</td>
        <td><a href="https://2434.kr/gaon">https://2434.kr/gaon</a> <br><a href="https://2434.kr/gaon/yt">https://2434.kr/gaon/yt</a> <br><a href="https://2434.kr/gaon/youtube">https://2434.kr/gaon/youtube</a></td>
        <td><a href="https://2434.kr/gaon/twt">https://2434.kr/gaon/twt</a> <br><a href="https://2434.kr/gaon/twitter">https://2434.kr/gaon/twitter</a></td>
        <td><a href="https://2434.kr/gaon/t">https://2434.kr/gaon/t</a> <br><a href="https://2434.kr/gaon/twitch">https://2434.kr/gaon/twitch</a></td>
        <td><a href="https://2434.kr/gaon/cas">https://2434.kr/gaon/cas</a><br><a href="https://2434.kr/gaon/cast">https://2434.kr/gaon/cast</a><br><a href="https://2434.kr/gaon/twitcasting">https://2434.kr/gaon/twitcasting</a></td>
    </tr>
    <tr>
        <td>민수하<br>Min Suha<br>みん すぅーは</td>
        <td><a href="https://2434.kr/suha">https://2434.kr/suha</a> <br><a href="https://2434.kr/suha/yt">https://2434.kr/suha/yt</a> <br><a href="https://2434.kr/suha/youtube">https://2434.kr/suha/youtube</a></td>
        <td><a href="https://2434.kr/suha/twt">https://2434.kr/suha/twt</a> <br><a href="https://2434.kr/suha/twitter">https://2434.kr/suha/twitter</a></td>
        <td><a href="https://2434.kr/suha/t">https://2434.kr/suha/t</a> <br><a href="https://2434.kr/suha/twitch">https://2434.kr/suha/twitch</a></td>
        <td><a href="https://2434.kr/suha/cas">https://2434.kr/suha/cas</a><br><a href="https://2434.kr/suha/cast">https://2434.kr/suha/cast</a><br><a href="https://2434.kr/suha/twitcasting">https://2434.kr/suha/twitcasting</a></td>
    </tr>
    <tr>
        <td>한치호<br>Han Chiho<br>はん ちほ</td>
        <td><a href="https://2434.kr/chiho">https://2434.kr/chiho</a> <br><a href="https://2434.kr/chiho/yt">https://2434.kr/chiho/yt</a> <br><a href="https://2434.kr/chiho/youtube">https://2434.kr/chiho/youtube</a></td>
        <td><a href="https://2434.kr/chiho/twt">https://2434.kr/chiho/twt</a> <br><a href="https://2434.kr/chiho/twitter">https://2434.kr/chiho/twitter</a></td>
        <td><a href="https://2434.kr/chiho/t">https://2434.kr/chiho/t</a> <br><a href="https://2434.kr/chiho/twitch">https://2434.kr/chiho/twitch</a></td>
        <td><a href="https://2434.kr/chiho/cas">https://2434.kr/chiho/cas</a><br><a href="https://2434.kr/chiho/cast">https://2434.kr/chiho/cast</a><br><a href="https://2434.kr/chiho/twitcasting">https://2434.kr/chiho/twitcasting</a></td>
    </tr>
    <tr>
        <td>채아라<br>Chae Ara<br>ちぇ あら</td>
        <td><a href="https://2434.kr/ara">https://2434.kr/ara</a> <br><a href="https://2434.kr/ara/yt">https://2434.kr/ara/yt</a> <br><a href="https://2434.kr/ara/youtube">https://2434.kr/ara/youtube</a></td>
        <td><a href="https://2434.kr/ara/twt">https://2434.kr/ara/twt</a> <br><a href="https://2434.kr/ara/twitter">https://2434.kr/ara/twitter</a></td>
        <td><a href="https://2434.kr/ara/t">https://2434.kr/ara/t</a> <br><a href="https://2434.kr/ara/twitch">https://2434.kr/ara/twitch</a></td>
        <td><a href="https://2434.kr/ara/cas">https://2434.kr/ara/cas</a><br><a href="https://2434.kr/ara/cast">https://2434.kr/ara/cast</a><br><a href="https://2434.kr/ara/twitcasting">https://2434.kr/ara/twitcasting</a></td>
    </tr>
    <tr>
        <td>소나기<br>So Nagi<br>そ なぎ</td>
        <td><a href="https://2434.kr/nagi">https://2434.kr/nagi</a> <br><a href="https://2434.kr/nagi/yt">https://2434.kr/nagi/yt</a> <br><a href="https://2434.kr/nagi/youtube">https://2434.kr/nagi/youtube</a></td>
        <td><a href="https://2434.kr/nagi/twt">https://2434.kr/nagi/twt</a> <br><a href="https://2434.kr/nagi/twitter">https://2434.kr/nagi/twitter</a></td>
        <td><a href="https://2434.kr/nagi/t">https://2434.kr/nagi/t</a> <br><a href="https://2434.kr/nagi/twitch">https://2434.kr/nagi/twitch</a></td>
        <td><a href="https://2434.kr/nagi/cas">https://2434.kr/nagi/cas</a><br><a href="https://2434.kr/nagi/cast">https://2434.kr/nagi/cast</a><br><a href="https://2434.kr/nagi/twitcasting">https://2434.kr/nagi/twitcasting</a></td>
    </tr>
    <tr>
        <td>이시우<br>Lee Siu<br>い しう</td>
        <td><a href="https://2434.kr/siu">https://2434.kr/siu</a> <br><a href="https://2434.kr/siu/yt">https://2434.kr/siu/yt</a> <br><a href="https://2434.kr/siu/youtube">https://2434.kr/siu/youtube</a></td>
        <td><a href="https://2434.kr/siu/twt">https://2434.kr/siu/twt</a> <br><a href="https://2434.kr/siu/twitter">https://2434.kr/siu/twitter</a></td>
        <td><a href="https://2434.kr/siu/t">https://2434.kr/siu/t</a> <br><a href="https://2434.kr/siu/twitch">https://2434.kr/siu/twitch</a></td>
        <td><a href="https://2434.kr/siu/cas">https://2434.kr/siu/cas</a><br><a href="https://2434.kr/siu/cast">https://2434.kr/siu/cast</a><br><a href="https://2434.kr/siu/twitcasting">https://2434.kr/siu/twitcasting</a></td>
    </tr>
    <tr>
        <td>눈보라<br>Nun Bora<br>ぬん ぼら</td>
        <td><a href="https://2434.kr/bora">https://2434.kr/bora</a> <br><a href="https://2434.kr/bora/yt">https://2434.kr/bora/yt</a> <br><a href="https://2434.kr/bora/youtube">https://2434.kr/bora/youtube</a></td>
        <td><a href="https://2434.kr/bora/twt">https://2434.kr/bora/twt</a> <br><a href="https://2434.kr/bora/twitter">https://2434.kr/bora/twitter</a></td>
        <td><a href="https://2434.kr/bora/t">https://2434.kr/bora/t</a> <br><a href="https://2434.kr/bora/twitch">https://2434.kr/bora/twitch</a></td>
        <td><a href="https://2434.kr/bora/cas">https://2434.kr/bora/cas</a><br><a href="https://2434.kr/bora/cast">https://2434.kr/bora/cast</a><br><a href="https://2434.kr/bora/twitcasting">https://2434.kr/bora/twitcasting</a></td>
    </tr>
    <tr>
        <td>이로하<br>Lee Roha<br>い ろは</td>
        <td><a href="https://2434.kr/roha">https://2434.kr/roha</a> <br><a href="https://2434.kr/roha/yt">https://2434.kr/roha/yt</a> <br><a href="https://2434.kr/roha/youtube">https://2434.kr/roha/youtube</a></td>
        <td><a href="https://2434.kr/roha/twt">https://2434.kr/roha/twt</a> <br><a href="https://2434.kr/roha/twitter">https://2434.kr/roha/twitter</a></td>
        <td><a href="https://2434.kr/roha/t">https://2434.kr/roha/t</a> <br><a href="https://2434.kr/roha/twitch">https://2434.kr/roha/twitch</a></td>
        <td><a href="https://2434.kr/roha/cas">https://2434.kr/roha/cas</a><br><a href="https://2434.kr/roha/cast">https://2434.kr/roha/cast</a><br><a href="https://2434.kr/roha/twitcasting">https://2434.kr/roha/twitcasting</a></td>
    </tr>
    <tr>
        <td>아키라 레이<br>Akira Ray<br>明楽レイ</td>
        <td><a href="https://2434.kr/ray">https://2434.kr/ray</a> <br><a href="https://2434.kr/ray/yt">https://2434.kr/ray/yt</a> <br><a href="https://2434.kr/ray/youtube">https://2434.kr/ray/youtube</a></td>
        <td><a href="https://2434.kr/ray/twt">https://2434.kr/ray/twt</a> <br><a href="https://2434.kr/ray/twitter">https://2434.kr/ray/twitter</a></td>
        <td><a href="https://2434.kr/ray/t">https://2434.kr/ray/t</a> <br><a href="https://2434.kr/ray/twitch">https://2434.kr/ray/twitch</a></td>
        <td><a href="https://2434.kr/ray/cas">https://2434.kr/ray/cas</a><br><a href="https://2434.kr/ray/cast">https://2434.kr/ray/cast</a><br><a href="https://2434.kr/ray/twitcasting">https://2434.kr/ray/twitcasting</a></td>
    </tr>
    <tr>
        <td>양나리<br>やん なり</td>
        <td><a href="https://2434.kr/nari">https://2434.kr/nari</a> <br><a href="https://2434.kr/nari/yt">https://2434.kr/nari/yt</a> <br><a href="https://2434.kr/nari/youtube">https://2434.kr/nari/youtube</a></td>
        <td><a href="https://2434.kr/nari/twt">https://2434.kr/nari/twt</a> <br><a href="https://2434.kr/nari/twitter">https://2434.kr/nari/twitter</a></td>
        <td><a href="https://2434.kr/nari/t">https://2434.kr/nari/t</a> <br><a href="https://2434.kr/nari/twitch">https://2434.kr/nari/twitch</a></td>
        <td><a href="https://2434.kr/nari/cas">https://2434.kr/nari/cas</a><br><a href="https://2434.kr/nari/cast">https://2434.kr/nari/cast</a><br><a href="https://2434.kr/nari/twitcasting">https://2434.kr/nari/twitcasting</a></td>
    </tr>
    <tr>
        <td>류하리<br>りゅ はり</td>
        <td><a href="https://2434.kr/hari">https://2434.kr/hari</a> <br><a href="https://2434.kr/hari/yt">https://2434.kr/hari/yt</a> <br><a href="https://2434.kr/hari/youtube">https://2434.kr/hari/youtube</a></td>
        <td><a href="https://2434.kr/hari/twt">https://2434.kr/hari/twt</a> <br><a href="https://2434.kr/hari/twitter">https://2434.kr/hari/twitter</a></td>
        <td><a href="https://2434.kr/hari/t">https://2434.kr/hari/t</a> <br><a href="https://2434.kr/hari/twitch">https://2434.kr/hari/twitch</a></td>
        <td><a href="https://2434.kr/hari/cas">https://2434.kr/hari/cas</a><br><a href="https://2434.kr/hari/cast">https://2434.kr/hari/cast</a><br><a href="https://2434.kr/hari/twitcasting">https://2434.kr/hari/twitcasting</a></td>
    </tr>
    <tr>
        <td>신기루<br>しん ぎる</td>
        <td><a href="https://24b34.kr/kiru">https://2434.kr/kiru</a> <br><a href="https://2434.kr/kiru/yt">https://2434.kr/kiru/yt</a> <br><a href="https://2434.kr/kiru/youtube">https://2434.kr/kiru/youtube</a></td>
        <td><a href="https://2434.kr/kiru/twt">https://2434.kr/kiru/twt</a> <br><a href="https://2434.kr/kiru/twitter">https://2434.kr/kiru/twitter</a></td>
        <td><a href="https://2434.kr/kiru/t">https://2434.kr/kiru/t</a> <br><a href="https://2434.kr/kiru/twitch">https://2434.kr/kiru/twitch</a></td>
        <td><a href="https://2434.kr/kiru/cas">https://2434.kr/kiru/cas</a><br><a href="https://2434.kr/kiru/cast">https://2434.kr/kiru/cast</a><br><a href="https://2434.kr/kiru/twitcasting">https://2434.kr/kiru/twitcasting</a></td>
    </tr>
    <tr>
        <td>오지유<br>お じゆ</td>
        <td><a href="https://2434.kr/jiyu">https://2434.kr/jiyu</a> <br><a href="https://2434.kr/jiyu/yt">https://2434.kr/jiyu/yt</a> <br><a href="https://2434.kr/jiyu/youtube">https://2434.kr/jiyu/youtube</a></td>
        <td><a href="https://2434.kr/jiyu/twt">https://2434.kr/jiyu/twt</a> <br><a href="https://2434.kr/jiyu/twitter">https://2434.kr/jiyu/twitter</a></td>
        <td><a href="https://2434.kr/jiyu/t">https://2434.kr/jiyu/t</a> <br><a href="https://2434.kr/jiyu/twitch">https://2434.kr/jiyu/twitch</a></td>
        <td><a href="https://2434.kr/jiyu/cas">https://2434.kr/jiyu/cas</a><br><a href="https://2434.kr/jiyu/cast">https://2434.kr/jiyu/cast</a><br><a href="https://2434.kr/jiyu/twitcasting">https://2434.kr/jiyu/twitcasting</a></td>
    </tr>
    <tr>
        <td>반하다<br>ばん はだ</td>
        <td><a href="https://2434.kr/hada">https://2434.kr/hada</a> <br><a href="https://2434.kr/hada/yt">https://2434.kr/hada/yt</a> <br><a href="https://2434.kr/hada/youtube">https://2434.kr/hada/youtube</a></td>
        <td><a href="https://2434.kr/hada/twt">https://2434.kr/hada/twt</a> <br><a href="https://2434.kr/hada/twitter">https://2434.kr/hada/twitter</a></td>
        <td><a href="https://2434.kr/hada/t">https://2434.kr/hada/t</a> <br><a href="https://2434.kr/hada/twitch">https://2434.kr/hada/twitch</a></td>
        <td><a href="https://2434.kr/hada/cas">https://2434.kr/hada/cas</a><br><a href="https://2434.kr/hada/cast">https://2434.kr/hada/cast</a><br><a href="https://2434.kr/hada/twitcasting">https://2434.kr/hada/twitcasting</a></td>
    </tr>
    <tr>
        <td>세피나<br>せふぃな</td>
        <td><a href="https://2434.kr/seffyna">https://2434.kr/seffyna</a> <br><a href="https://2434.kr/seffyna/yt">https://2434.kr/seffyna/yt</a> <br><a href="https://2434.kr/seffyna/youtube">https://2434.kr/seffyna/youtube</a></td>
        <td><a href="https://2434.kr/seffyna/twt">https://2434.kr/seffyna/twt</a> <br><a href="https://2434.kr/seffyna/twitter">https://2434.kr/seffyna/twitter</a></td>
        <td><a href="https://2434.kr/seffyna/t">https://2434.kr/seffyna/t</a> <br><a href="https://2434.kr/seffyna/twitch">https://2434.kr/seffyna/twitch</a></td>
        <td><a href="https://2434.kr/seffyna/cas">https://2434.kr/seffyna/cas</a><br><a href="https://2434.kr/seffyna/cast">https://2434.kr/seffyna/cast</a><br><a href="https://2434.kr/seffyna/twitcasting">https://2434.kr/seffyna/twitcasting</a></td>
    </tr>
    <tr>
        <td>송미아<br>そん みあ</td>
        <td><a href="https://2434.kr/mia">https://2434.kr/mia</a> <br><a href="https://2434.kr/mia/yt">https://2434.kr/mia/yt</a> <br><a href="https://2434.kr/mia/youtube">https://2434.kr/mia/youtube</a></td>
        <td><a href="https://2434.kr/mia/twt">https://2434.kr/mia/twt</a> <br><a href="https://2434.kr/mia/twitter">https://2434.kr/mia/twitter</a></td>
        <td><a href="https://2434.kr/mia/t">https://2434.kr/mia/t</a> <br><a href="https://2434.kr/mia/twitch">https://2434.kr/mia/twitch</a></td>
        <td><a href="https://2434.kr/mia/cas">https://2434.kr/mia/cas</a><br><a href="https://2434.kr/mia/cast">https://2434.kr/mia/cast</a><br><a href="https://2434.kr/mia/twitcasting">https://2434.kr/mia/twitcasting</a></td>
    </tr>
    </tbody>
</table>
<h1 id="disclaimer">Disclaimer</h1>
<p>이 사이트는 비공식입니다. NIJISANJI는 Anycolor Inc.의 등록상표입니다.
    This website is unofficial. NIJISANJI is a trademark of Anycolor Inc.
    ファンメイドで、にじさんじKRの運営とは関係ありません。NIJISANJIはAnycolor Inc.の登録商標です。</p>

</body>
</html>